@import "tailwindcss";
@import 'primeicons/primeicons.css';

@custom-variant dark (&:where(.dark, .dark *));


:root {

    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}

@layer components {
    .j-btn {
        @apply transition-all duration-100 bg-amber-100 dark:bg-amber-950 text-black dark:text-white rounded-full;
    }
}

@custom-variant month {
    &:where([data-theme="month"] *){ @slot }
}

body {
    margin: auto;
    @apply max-w-xl;
}


@theme {
    --animate-temporary-confirm-check: appear 2s ease-in-out;
    @keyframes appear {
        0%,
        90% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }
}