@import "tailwindcss";
@import 'primeicons/primeicons.css';

@custom-variant dark (&:where(.dark, .dark *));


:root {

    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}

@layer components {
    .j-btn {
        @apply hover:scale-102 transition-all duration-100 bg-amber-100 dark:bg-amber-950 text-black dark:text-white rounded-full;
    }
}

body {
    margin: auto;
    @apply max-w-2xl;
}


@theme {
    --animate-temporary-confirm-check: appear 2s ease-in-out;
    @keyframes appear {
        100% {
            transform: translateX(-5px) scale(0);
            opacity: 0;
        }
        0%,
        80% {
            transform: translateX(0) scale(1);
            opacity: 1;

        }
    }
}