name: Deploy Backend

on:
  push:
    branches:
      - main
    paths:
      - 'backend/**'

jobs:
  deploy-backend:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '22'

      - name: Install backend dependencies
        working-directory: ./backend
        run: npm ci

      - name: Build backend (TS -> JS)
        working-directory: ./backend
        run: npm run build

      - name: Prepare deploy folder
        run: |
          mkdir -p deploy/api
          cp backend/dist/src/server.js deploy/api/
          cp backend/package.json backend/package-lock.json deploy/api/

      - name: Deploy backend via FTP
        uses: SamKirkland/FTP-Deploy-Action@v4.3.5
        with:
          server: ${{ secrets.FTP_BACK_HOST }}
          username: ${{ secrets.FTP_BACK_USERNAME }}
          password: ${{ secrets.FTP_BACK_PASSWORD }}
          local-dir: ./deploy/api/
          server-dir: /
          skip-identical: true
