name: Deploy Frontend

on:
  push:
    branches:
      - main
    paths:
      - 'frontend/**'
      - '.github/workflows/frontend-deploy.yml'
  workflow_dispatch:

jobs:
  deploy-frontend:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '22'

      - name: Install frontend dependencies
        working-directory: ./frontend
        run: npm ci

      - name: Build frontend
        working-directory: ./frontend
        run: npm run build
        env:
          VITE_API_URL: https://api.cinqans.tomalmarcha.fr
          VITE_API_VERSION: /v1

      - name: Deploy frontend via FTP
        uses: SamKirkland/FTP-Deploy-Action@v4.3.5
        with:
          server: ${{ secrets.FTP_FRONT_HOST }}
          username: ${{ secrets.FTP_FRONT_USERNAME }}
          password: ${{ secrets.FTP_FRONT_PASSWORD }}
          local-dir: ./frontend/dist/
          server-dir: /
